#progress {
  height: 1.25rem;
  background: var(--secondary);
}

#progress-bar {
  height: inherit;
  background-color: #198754;
  transition: width 0.75s;
  box-shadow: inset 0 0 0.5em 0 #115c39;
}

#goal {
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background: black;
  margin-bottom: 1.25rem;
  outline: 1px solid black;
  box-shadow: 0 0 0.4em 0 black;
}

#goal h6 {
  color: white;
  font-size: 0.9rem;
  padding: 0.75rem;
}

#box {
  color: var(--text);
  background: var(--secondary);
  outline: 1px solid black;
  box-shadow: 0 0 0.25em 0 black;
  border-radius: 0.5rem;
  overflow: hidden;
}

#inner-box {
  position: relative;
  padding: 1rem;
  text-align: start;
  font-size: 0.9rem;
  box-shadow: inset 0 0.25em 0.25em -0.25em black;
}

#aboutDono {
  position: absolute !important;
  bottom: 1.2rem !important;
  right: 1.25rem !important;
  transition: 0.15s;
}

#aboutDono i {
  color: var(--headers);
}

a:hover#aboutDono {
  opacity: 0.75;
}

a:active#aboutDono {
  opacity: 0.75;
}

a:hover#aboutDono ~ #description {
  z-index: 1;
  opacity: 1;
}

a#aboutDono:focus {
  pointer-events: none;
}

#description {
  width: 17.5rem !important;
  top: 86% !important;
  transform: translate(-50%, -135%) !important;
}

.arrow {
  position: absolute;
}

.arrow::after {
  content: "";
  position: absolute;
  bottom: -10%;
  margin-left: 116px;
  border-width: 7px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#inner-box p {
  margin-top: 0;
}

#inner-box a {
  height: 17.5px;
  position: relative;
  color: var(--text);
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

#inner-box a:hover span:first-child {
  opacity: 0;
}

#inner-box a:hover .why {
  opacity: 1;
}

.why {
  opacity: 0;
  left: 0;
  bottom: 0;
  height: 17.33px;
  width: 15.15rem;
  position: absolute;
}

.input-container i {
  color: black;
  padding-top: 4px;
  margin-left: 9px;
  font-style: normal;
  font-size: 0.85rem;
  position: absolute;
}

input[type="number" i] {
  width: 75px;
  font-size: 0.9rem;
  background: white;
  padding-left: 20px;
  margin-right: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
}

button[type="submit"] {
  font-size: 0.9rem;
  border: 0;
  color: white;
  box-shadow: none !important;
  font-weight: bold;
  background-color: black;
  border-radius: 0.75rem;
  transition: 0.15s;
}

button[type="submit"]:hover {
  background-color: #0d0d0d;
}

button[type="submit"]:active {
  background-color: #1a1a1a;
}

@media screen and (min-width: 1200px) {
  #donation {
    width: 92%;
  }
}
