<div class="col mx-auto pb-1">
  <div class="mx-auto" style="width: 19rem; position: relative">
    <div id="goal">
      <div *ngIf="isInvalid; else valid">
        <h6 [@fadeInOut] (@fadeInOut.done)="invalidEnd($event)">Please enter a valid amount</h6>
      </div>
      <ng-template #valid>
        <div *ngIf="!hasDonated && remaining > 0; else confirmation">
          <h6>
            <span class="fw-bold">${{ remaining }}</span> still needed for this project
          </h6>
        </div>
        <ng-template #confirmation>
          <div *ngIf="donated === goal; else surpassed">
            <h6 @fadeIn>We did it! Thank you so much</h6>
          </div>
          <ng-template #surpassed>
            <div *ngIf="donated > goal && !hasDonated; else thanks">
              <h6>
                We have now raised <span class="fw-bold">${{ plus }}</span> over our goal
              </h6>
            </div>
          </ng-template>
          <ng-template #thanks>
            <h6 [@fadeInOut] (@fadeInOut.done)="donationEnd($event)">Thanks for your contribution ❤</h6>
          </ng-template>
        </ng-template>
      </ng-template>
      <span id="arrow-goal" style="position: absolute"><wbr /></span>
    </div>
    <div id="box">
      <div id="progress">
        <div id="progress-bar" [style.width]="progress"></div>
      </div>
      <div id="inner-box">
        <p>Only 1 month left to fund this project.</p>
        <p>Join the other donors who have already supported us. Every dollar helps!</p>
        <form style="margin-bottom: 1rem" [formGroup]="donationForm" (ngSubmit)="onSubmit()">
          <div class="input-container" style="display: flex">
            <i>$</i>
            <input type="number" formControlName="amount" min="1" /><button
              type="submit"
              class="btn btn-sm btn-success"
              aria-label="Donate button"
            >
              Give now
            </button>
          </div>
        </form>
        <a id="why-text" href="javascript:;">
          <span>Why give $50?</span>
          <span class="why">You can become a beta tester!</span>
        </a>
        <a id="aboutDono" href="javascript:;" aria-label="About donation box"
          ><i class="fa-solid fa-circle-question fs-6" style="color: var(--headers)"></i
        ></a>
        <div id="description" class="text-center">
          <p class="mb-0">Donation box with progress updates and status notifications</p>
          <span class="arrow" style="position: absolute"><wbr /></span>
        </div>
      </div>
    </div>
  </div>
</div>
