#nextJson,
#previousJson {
  border: 0;
  padding: 0 0.75rem;
  box-shadow: none;
  background-color: transparent;
}

a {
  color: var(--headers);
  text-decoration: none;
}

#currentCard {
  font-size: 0.95rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #060607;
  color: #fff;
}

.card {
  width: 19rem;
  text-align: center;
  background: var(--secondary);
  border-radius: 1rem;
}

.card-header {
  position: relative;
  min-height: 36px;
  border-radius: 1rem 1rem 0 0 !important;
}

#content {
  margin-top: -2px;
}

.card-footer {
  border: 0;
  background: transparent;
  border-radius: 0 0 1rem 1rem !important;
}

#cycleJson {
  border: none !important;
  background: var(--headers);
  box-shadow: none !important;
  border-radius: 0 0 1rem 1rem !important;
}

#cycleJson:hover {
  opacity: 0.9;
}

.fa-arrows-rotate {
  color: var(--active) !important;
}

#aboutJson {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 0.9rem;
}

#aboutJson i {
  color: var(--headers);
}

a:hover#aboutJson ~ #description {
  z-index: 1;
  opacity: 1;
}

a#aboutJson:focus {
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  a#aboutJson:focus {
    pointer-events: auto;
  }
}
