<div class="col text-center mx-auto">
  <span id="currentCard" class="badge rounded-pill fw-bold mb-4">{{ this.selectors[this.cardNumber].cardName }}</span>
  <div id="jsonCard" class="card mx-auto">
    <div class="card-header justify-content-center">
      <h6 class="m-0">{{ this.title }}</h6>
      <a id="aboutJson" href="https://jsonplaceholder.typicode.com/" target="_blank"
        ><i class="fa-solid fa-circle-question fs-6"></i
      ></a>
      <div id="description" class="text-center">
        <a class="text-light" href="https://jsonplaceholder.typicode.com/" target="_blank">
          {{ "{JSON}" }} Placeholder API <i class="fa-solid fa-server"></i>
        </a>
        <p class="mt-1 mb-0">Set of cards that request fake data</p>
        <p class="mb-0">using the AJAX model</p>
        <span class="arrow"><wbr /></span>
      </div>
    </div>
    <div class="card-body py-2 fs-7">
      <div id="content" *ngIf="this.turn !== 3; else img">
        <p *ngFor="let content of contents" class="m-1">{{ content }}</p>
      </div>
      <ng-template #img>
        <div class="img-container">
          <img src="{{ this.contents[0] }}" alt="" width="125px" />
        </div>
      </ng-template>
    </div>
    <div class="card-footer p-0">
      <button id="cycleJson" type="button" class="btn w-100" (click)="getData(this.turn)">
        <i class="fa fa-arrows-rotate"></i>
      </button>
    </div>
  </div>
  <div id="cardSelector" class="d-inline-flex mt-3">
    <button id="previousJson" type="button" class="btn" (click)="getData(this.previous)">
      <i class="fa-solid fa-square-caret-left"></i>
    </button>
    <button id="nextJson" type="button" class="btn" (click)="getData(this.next)">
      <i class="fa-solid fa-square-caret-right"></i>
    </button>
  </div>
</div>
