.game {
  background: #060607;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #fff;
  font-size: 0.9em;
}
#mainContent {
  grid-gap: 1px;
  background: #000;
  border: 1px solid #000;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  overflow: hidden;
  position: relative;
  width: 184px;
}
button.btn-white {
  background: var(--secondary);
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
  color: var(--headers);
  font-weight: 700;
  height: 60px;
  width: 100%;
}
button.btn-white:focus {
  box-shadow: none;
}
.btn-white:hover {
  background-color: var(--tertiary);
  color: #fff;
}
.btn-white:focus {
  background-color: var(--secondary);
  opacity: 1;
  transition: none;
}
.btn-white:focus:hover {
  background-color: var(--tertiary);
  color: #fff;
}
@media (pointer: coarse) {
  .btn-white:hover {
    color: var(--headers);
    opacity: 1;
  }
  .btn-white:focus:hover,
  .btn-white:hover {
    background-color: var(--secondary);
  }
}
#newGame {
  box-shadow: 0 0 0.5em 0 black;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.05s;
}
#newGame:hover {
  transform: translate(-46%, -50%);
}
#aboutGame {
  transition: 0.15s;
}
#aboutGame i {
  color: var(--headers);
}
a:active#aboutGame,
a:hover#aboutGame {
  opacity: 0.75;
}
a:hover#aboutGame ~ #description {
  opacity: 0.9;
  z-index: 1;
}
a#aboutGame:focus {
  pointer-events: none;
}
#description {
  width: 17rem;
  top: 41% !important;
}
.arrow:after {
  bottom: -16%;
  margin-left: 64px;
}
