<div class="col text-center mx-auto">
  <div *ngIf="!winner && !tie; then game; else result"></div>
  <ng-template #game>
    <span class="badge rounded-pill game fw-bold me-2">
      Current Player:
      <span class="fw-light">
        {{ player }}
      </span>
    </span>
    <a id="aboutGame" class="d-none d-md-inline" href="javascript:;" aria-label="About Tic-tac-toe game"
      ><i class="fa-solid fa-circle-question fs-6"></i
    ></a>
    <div id="description" class="d-none d-md-block">
      <p class="mb-0">Game that saves your progress and freezes the board once completed</p>
      <span class="arrow"><wbr /></span>
    </div>
  </ng-template>
  <ng-template #result>
    <div *ngIf="winner; else tie">
      <span class="badge rounded-pill game fw-bold" @fadeIn>Player {{ winner }} won the game!</span>
    </div>
    <ng-template #tie>
      <span class="game" class="badge rounded-pill game fw-bold" @fadeIn>Game Over...</span>
    </ng-template>
  </ng-template>
  <div id="mainContent" class="mt-4 mx-auto">
    <button
      [@fadeIn]
      [@fadeOut]
      (@fadeIn.start)="freezeBoard($event)"
      (@fadeOut.done)="unfreezeBoard($event)"
      id="newGame"
      *ngIf="winner || tie"
      class="btn btn-sm"
      (click)="newGame()"
      aria-label="Reset game board"
    >
      Reset game
    </button>
    <div id="board" *ngFor="let val of squares; let i = index" (click)="makeMove(i)">
      <button class="btn btn-white" *ngIf="!val" aria-label="Empty square">{{ val }}</button>
      <button class="btn btn-white" *ngIf="val === 'X'" aria-label="Square with X">{{ val }}</button>
      <button class="btn btn-white" *ngIf="val === 'O'" aria-label="Square with O">{{ val }}</button>
    </div>
  </div>
  <div id="description2" class="d-md-none mx-auto">
    <p class="mb-0">Game that saves your progress and freezes the board once completed</p>
  </div>
</div>
