#disclaimer {
  font-size: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #060607;
  color: #fff;
  box-shadow: 0 0 0.25em 0 black;
}

.card {
  outline: 1px solid black;
  border: 0;
  width: 19rem;
  text-align: center;
  background: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0 0 0.25em 0 black;
}

.card-header {
  position: relative;
  border-radius: 1rem 1rem 0 0 !important;
}

.img-container {
  min-height: 125px;
  margin-bottom: 1.5rem;
}

.card-footer {
  border: 0;
  background: transparent;
  border-radius: 0 0 1rem 1rem !important;
}

span {
  color: var(--active);
  background: var(--headers);
}

#cyclePoke {
  border: none !important;
  background: var(--headers);
  box-shadow: none !important;
  border-radius: 0 0 1rem 1rem !important;
}

#cyclePoke:hover {
  opacity: 0.9;
}

.fa-arrows-rotate {
  color: var(--active) !important;
}

#aboutPoke {
  position: absolute;
  top: 0.37rem;
  right: 1rem;
}

#aboutPoke i {
  color: var(--headers);
}

a:hover#aboutPoke ~ #description {
  z-index: 1;
  opacity: 1;
}

a#aboutPoke:focus {
  pointer-events: none;
}

.arrow {
  position: absolute;
}

.arrow::after {
  content: "";
  position: absolute;
  bottom: -10%;
  margin-left: 120px;
  border-width: 7px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

@media screen and (min-width: 1200px) {
  a#aboutPoke:focus {
    pointer-events: auto;
  }
}
