<div class="col text-center mx-auto">
  <span id="disclaimer" class="badge rounded-pill fw-bold mb-4">Only 1st and 2nd Gen</span>
  <div id="pokeCard" class="card mx-auto">
    <div class="card-header d-flex justify-content-center">
      <h6 class="m-0">Gotta Catch 'Em All!</h6>
      <a id="aboutPoke" href="https://pokeapi.co/" target="_blank" aria-label="About PokeAPI card"
        ><i class="fa-solid fa-circle-question fs-6"></i
      ></a>
      <div id="description" class="text-center">
        <a class="text-light" href="https://pokeapi.co/" target="_blank">
          The RESTful Pokémon API <i class="fa-solid fa-gamepad"></i>
        </a>
        <p class="mt-1 mb-0">Card to request a random Pokémon</p>
        <p class="mb-0">using the Fetch API</p>
        <span class="arrow"><wbr /></span>
      </div>
    </div>
    <div class="card-body p-3">
      <div class="img-container">
        <img src="{{ this.pkUrl }}" alt="" aria-label="Pokémon picture" width="150px" height="" />
      </div>
      <div>
        <span class="badge rounded-pill fs-7">{{ this.pkNumber }}</span>
      </div>
      <div class="mt-2">
        <span class="badge rounded-pill">{{ this.pkName }}</span>
      </div>
    </div>
    <div class="card-footer p-0">
      <button
        id="cyclePoke"
        type="button"
        class="btn w-100"
        (click)="this.fetchPkmn(this.ranNum)"
        aria-label="Cycle Pokemon"
      >
        <i class="fa fa-arrows-rotate"></i>
      </button>
    </div>
  </div>
</div>
