<span id="log" class="{{ this.positioning.class }}">{{ this.positioning.log }}</span>
<div id="myModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fw-bold" style="font-size: 0.95rem">Heads up!</h6>
      </div>
      <div class="modal-body" style="font-size: 0.95rem">
        <p>Dark mode was applied by default.</p>
        <p class="mb-1">Click "Not nice" to turn light mode on 💡</p>
      </div>
      <div class="modal-footer">
        <button id="lightsOn" type="button" class="btn btn-sm" data-bs-dismiss="modal" aria-label="Enable light mode">
          Not nice
        </button>
        <button id="lightsOff" type="button" class="btn btn-sm" data-bs-dismiss="modal" aria-label="Keep dark mode">
          Nice
        </button>
      </div>
    </div>
  </div>
</div>
<header>
  <nav id="menu" class="navbar">
    <div class="container justify-content-center">
      <div class="col-auto text-center">
        <a class="navbar-brand text-light d-flex justify-content-center align-items-center" href="/">
          <i id="brand-check" class="fa-solid fa-circle-check fs-6"></i>
          <h6 class="fw-bold my-auto ps-2">Project portfolio</h6>
        </a>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="d-flex fixed-bottom py-2">
  <div class="container d-flex justify-content-center">
    <div class="col-auto">
      <span class="text-muted" style="font-size: 0.95rem"
        >Made with
        <a class="text-muted text-decoration-none" href="https://getbootstrap.com/" target="_blank"
          >Bootstrap <i class="fa-brands fa-bootstrap fs-6"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
<button id="lightToggle" class="btn btn-sm p-0" aria-label="Light mode toggle" (click)="this.goodnight.switchTheme()">
  <i class="fa-solid fa-lightbulb"></i>
</button>
