<button id="lightToggle" class="btn btn-sm p-0">
  <i class="fa-solid fa-lightbulb"></i>
</button>
<div id="myModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fw-bold">Heads up!</h6>
      </div>
      <div class="modal-body">
        <p>Dark mode was applied by default.</p>
        <p class="mb-0">Click "Not nice" to turn light mode on 💡</p>
      </div>
      <div class="modal-footer">
        <button id="lightsOn" type="button" class="btn btn-sm" data-bs-dismiss="modal">Not nice</button>
        <button id="lightsOff" type="button" class="btn btn-sm" data-bs-dismiss="modal">Nice</button>
      </div>
    </div>
  </div>
</div>
<div id="topWrapper">
  <header>
    <nav id="menu" class="navbar">
      <div class="container justify-content-center">
        <div class="col-auto text-center">
          <a class="navbar-brand text-light d-flex justify-content-center align-items-center py-1" href="/">
            <i id="brand-check" class="fa-solid fa-circle-check fs-6"></i>
            <h6 class="fw-bold my-auto ps-2">Project website</h6>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <main class="container"><router-outlet></router-outlet></main>
</div>
<footer>
  <div class="row-auto">
    <div class="container text-center">
      <ul id="footer-links" class="list-group list-group-horizontal">
        <li class="list-group-item text-muted flex-fill">
          <span>Made with </span>
          <a class="text-muted" href="https://getbootstrap.com/" target="_blank"
            >Bootstrap <i class="fa-brands fa-bootstrap"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
