/* Game status */
#game {
  font-size: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #060607;
  color: #fff;
}

#mainContent {
  display: grid;
  border: 1px solid black;
  background: black;
  width: 184px;
  grid-gap: 1px;
  grid-template-columns: 60px 60px 60px;
}
