<div class="col-md-6 col-lg-8 text-center mx-auto">
  <div *ngIf="!winner && !tie; then game; else result"></div>
  <ng-template #game>
    <span id="game" class="badge rounded-pill fw-bold">
      Current Player:
      <span class="fw-light">
        {{ player }}
      </span>
    </span>
  </ng-template>
  <ng-template #result>
    <div *ngIf="winner; else tie">
      <span id="game" class="badge rounded-pill fw-bold" @fadeIn>Player {{ winner }} won the game!</span>
    </div>
    <ng-template #tie>
      <span id="game" class="badge rounded-pill fw-bold" @fadeIn>Game Over...</span>
    </ng-template>
  </ng-template>

  <div id="mainContent" class="my-4 mx-auto">
    <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)"> </app-square>
  </div>

  <button class="btn btn-sm" (click)="newGame()">Reset game</button>
</div>
