::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border: 4px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
  border: 4px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

:root {
  --light-bg-primary: #ffffff;
  --dark-bg-primary: #212529;

  --light-bg-secondary: #d5d8dd;
  --dark-bg-secondary: #42454d;

  --dark-bg-tertiary: #171717;

  --light-txt-primary: #2e3338;
  --dark-txt-primary: #dcddde;

  --light-txt-secondary: #060607;
  --dark-txt-secondary: #ffffff;

  --text: var(--light-txt-primary);
  --active: var(--dark-txt-secondary);
  --headers: var(--light-txt-secondary);
  --primary: var(--light-bg-primary);
  --secondary: var(--light-bg-secondary);
  --tertiary: var(--dark-bg-tertiary);
}

.dark {
  --text: var(--dark-txt-primary);
  --active: var(--light-txt-secondary);
  --headers: var(--dark-txt-secondary);
  --primary: var(--dark-bg-primary);
  --secondary: var(--dark-bg-secondary);
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: calc(var(--vh, 1vh) * 100);
}

.toggledDark body,
.toggledLight body {
  transition: background 0.25s;
}

#log {
  z-index: 1;
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: white;
  font-weight: bold;
}

#topWrapper {
  position: relative;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  background: var(--dark-bg-tertiary);
}

header {
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
}

body {
  color: var(--text);
  background: var(--primary);

  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headers);
}

.fs-7 {
  font-size: 0.9rem;
}

i {
  color: var(--headers);
  background: transparent;
}

.text-light i,
.text-light h6 {
  color: white;
}

.text-muted i {
  color: #6c757d;
}

nav .container {
  padding-left: var(--bs-gutter-x, 1.25rem);
  padding-right: var(--bs-gutter-x, 1.25rem);
}

#lightToggle {
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #2959ee;
  box-shadow: 0 0 0.25em 0 #202225;
  transition: all 0.15s ease;
}

#lightToggle i {
  color: white;
  font-size: 1.1rem !important;
}

#lightToggle:hover {
  background-color: #416bf0;
}

.active-link {
  color: var(--active) !important;
  background: var(--headers) !important;
  font-weight: bold;
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main .btn {
  color: var(--active);
  background: var(--headers);
  border: 1px solid var(--tertiary);
  border-radius: 0.75rem;
  transition: 0.15s;
}

main .btn:hover {
  opacity: 0.9;
  color: var(--active);
}

main .btn:focus {
  box-shadow: none;
}

.modal-dialog {
  margin: 1.5rem !important;
}

.modal-content {
  color: var(--text) !important;
  background: var(--secondary) !important;
  border-radius: 1rem !important;
  margin: 0 auto 0 auto !important;
  padding: 0.25rem !important;
  border: 1px solid black;
}

.modal-header {
  padding: 0.75rem 1rem 0 1rem !important;
  border-bottom: 0 !important;
}

.modal-footer {
  padding: 0 1rem 0.75rem 1rem !important;
  border-top: 0 !important;
  padding-top: 0rem !important;
}

.modal-footer > .btn {
  color: var(--active) !important;
  background: var(--headers) !important;
  border-radius: 0.75rem !important;
  transition: 0.15s !important;
}

.modal-footer > .btn:hover {
  opacity: 0.85 !important;
}

.modal-footer > .btn:focus {
  box-shadow: none !important;
}

footer {
  font-size: 0.95rem;
}

#description {
  color: white;
  z-index: -1;
  position: absolute;
  top: 50%;
  font-size: 0.95rem;
  left: 50%;
  width: 19rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: black;
  transform: translate(-50%, -140%);
  opacity: 0;
  transition: all 0.25s ease;
}

#description a {
  color: var(--headers);
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 80%;
  }

  .modal-dialog {
    margin: 1.5rem auto !important;
  }

  #links {
    display: flex;
  }
}
