::-webkit-scrollbar-thumb:hover {
  background: #717171;
  border: 4px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.toggledDark body,
.toggledLight body {
  transition: background 0.25s;
}

.modal-dialog {
  margin: 1.5rem !important;
}

.modal-content {
  color: var(--text) !important;
  background: var(--secondary) !important;
  border-radius: 1rem !important;
  margin: 0 auto 0 auto !important;
  padding: 0.25rem !important;
  border: 1px solid black;
}

.modal-header {
  padding: 0.75rem 1rem 0 1rem !important;
  border-bottom: 0 !important;
}

.modal-footer {
  padding: 0 1rem 0.75rem 1rem !important;
  border-top: 0 !important;
  padding-top: 0rem !important;
}

.modal-footer > .btn {
  color: var(--active) !important;
  background: var(--headers) !important;
  border-radius: 0.75rem !important;
  transition: 0.15s !important;
}

.modal-footer > .btn:hover {
  opacity: 0.85 !important;
}

.modal-footer > .btn:focus {
  box-shadow: none !important;
}

main .btn:hover {
  opacity: 0.9;
  color: var(--active);
}

main .btn:focus {
  box-shadow: none;
}

.fs-7 {
  font-size: 0.9rem;
}

.active-link {
  color: var(--active) !important;
  background: var(--headers) !important;
  font-weight: bold;
}

#description a {
  color: var(--headers);
  font-weight: bold;
  text-decoration: none;
}

#lightToggle:hover {
  background-color: #416bf0;
}

@media screen and (min-width: 576px) {
  #aboutText {
    height: fit-content;
    font-size: 1rem;
  }

  img.pfp {
    height: 150px;
    width: 150px;
  }

  #problems > * {
    margin-bottom: 0;
  }

  #apps > :first-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 75%;
  }

  .modal-dialog {
    margin: 1.5rem auto !important;
  }
}

@media screen and (min-width: 1024px) {
  img.pfp {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
  }

  .socials {
    opacity: 1;
    width: 100%;
    top: 140%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: 1200px) {
  img.pfp {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -110%);
  }
}
