#apps {
  position: relative;
}

#profile-card {
  background: var(--secondary);
  border-radius: 1.5rem;
  width: 17rem;
}

.img-thumbnail {
  padding: 0;
  background-color: black;
  border: 1px solid black;
}

.about {
  background: var(--secondary);
  border: 1px solid black;
  border-radius: 1rem;
}

.myLink {
  text-decoration: none;
  color: var(--header);
}

.break {
  display: none;
}

#appName {
  width: 130px;
}

#nextApp,
#previousApp {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: -2px;
  box-shadow: none;
  background-color: transparent;
}

button#nextApp:active,
button#previousApp:active {
  opacity: 0.5;
}

#page-1,
#page-2,
#page-3 {
  transition: transform 0.25s ease;
}

.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transform: translateX(var(--translate-hidden));
}

.active {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .break {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  #profile-card {
    width: 16rem;
    margin-right: 1.3rem !important;
  }

  .break {
    display: none;
  }
}
