.content {
  width: 19rem;
}

#goal {
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background: black;
  margin-bottom: 1.25rem;
  outline: 1px solid black;
  box-shadow: 0 0 0.4em 0 black;
}

#goal h6 {
  color: white;
  font-size: 0.9rem;
  padding: 0.75rem;
}

.arrow {
  position: absolute;
}

.arrow::before {
  content: "";
  transform: rotate(45deg);
  position: absolute;
  bottom: 1.65rem;
  margin-left: 105px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: black;
}

.arrow::after {
  z-index: -1;
  content: "";
  transform: rotate(45deg);
  position: absolute;
  bottom: 1.65rem;
  margin-left: 105px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: black;
  box-shadow: 0 0 0.4em 0 black;
}

#box {
  color: var(--text);
  background: var(--secondary);
  outline: 1px solid black;
  box-shadow: 0 0 0.25em 0 black;
  border-radius: 0.5rem;
  overflow: hidden;
}

#inner-box {
  padding: 1rem;
  text-align: start;
  font-size: 0.9rem;
  box-shadow: inset 0 0.25em 0.25em -0.25em black;
}

#inner-box p {
  margin-top: 0;
}

#inner-box a {
  height: 17.5px;
  position: relative;
  color: var(--text);
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

#inner-box a:hover span:first-child {
  opacity: 0;
}

#inner-box a:hover .why {
  opacity: 1;
}

.why {
  opacity: 0;
  left: 0;
  bottom: 0;
  height: 17.33px;
  width: 15.15rem;
  position: absolute;
}

form {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
}

.input-container i {
  color: black;
  padding-top: 4px;
  margin-left: 9px;
  font-style: normal;
  font-size: 0.85rem;
  position: absolute;
}

input[type="number" i] {
  width: 75px;
  font-size: 0.9rem;
  background: white;
  padding-left: 20px;
  margin-right: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
}

button[type="submit"] {
  font-size: 0.9rem;
  border: 0;
  color: white;
  box-shadow: none !important;
  font-weight: bold;
  background: #212529;
  border-radius: 0.75rem;
}

button[type="submit"]:hover {
  opacity: 0.9;
}

@media screen and (min-width: 1024px) {
  #donation {
    width: 92%;
  }
}
